In [1]:
# Set up:

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time

In [2]:
# df10:

chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_1%2Cpetrol_eq_lpg")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="LPG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="First"
    owner.append(i)
    
print(len(fuel),len(owner))

df10=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
print(df10)

driver.close()

440 440 440 440 440 440
440 440
       Brand     Model with Variant Manufacturing Year  Driven KM Fuel Type  \
0     Maruti     [Suzuki, Alto-800]               2012   [80,000]       LPG
1     Maruti         [Suzuki, Alto]               2006  [102,000]       LPG
2     Maruti  [Suzuki, Wagon-R-1-0]               2014   [62,580]       LPG
3     Maruti         [Suzuki, Omni]               2006   [90,000]       LPG
4      Bajaj                 [RE60]               2017   [10,000]       LPG
..       ...                    ...                ...        ...       ...
435  Hyundai               [Santro]               2014   [68,200]       LPG
436  Hyundai               [Santro]               2009       [20]       LPG
437   Maruti      [Suzuki, Wagon-R]               2009   [65,000]       LPG
438   Maruti         [Suzuki, Alto]               2012   [73,000]       LPG
439   Maruti         [Suzuki, Omni]               2014   [50,000]       LPG

    No. of Owner                 Locetion     Price
0          First                 Kappalur  2,20,000
1          First  Golden City Gunjal Wadi  1,05,000
2          First                  CB Ganj  2,80,000
3          First              M S R Nagar    70,000
4          First              Mannivakkam    30,000
..           ...                      ...       ...
435        First          Mohalla Mirdhan  2,65,000
436        First               New Colony  1,00,000
437        First              Shiv Colony    95,000
438        First            Palayapalayam  2,75,000
439        First    Khasjangal Cantonment  1,50,000

[440 rows x 8 columns]

In [7]:
# df11:

chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_2%2Cpetrol_eq_lpg")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="LPG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Sceond"
    owner.append(i)
    
print(len(fuel),len(owner))

df11=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
print(df11)

driver.close()

440 440 440 440 440 440
440 440
       Brand    Model with Variant Manufacturing Year   Driven KM Fuel Type  \
0      Honda                [City]               2017  [114322.0]       LPG
1    Hyundai                 [i10]               2013    [91,699]       LPG
2     Maruti        [Suzuki, Eeco]               2012  [101000.0]       LPG
3    Hyundai          [Elite, i20]               2011   [140,000]       LPG
4     Maruti     [Suzuki, Celerio]               2019   [129,000]       LPG
..       ...                   ...                ...         ...       ...
435  Hyundai              [Santro]               2009   [100,000]       LPG
436   Maruti  [Suzuki, Zen-Estilo]               1999    [50,000]       LPG
437   Maruti        [Suzuki, Omni]               2012    [40,000]       LPG
438   Maruti     [Suzuki, Wagon-R]               2001   [100,050]       LPG
439  Hyundai        [Santro, Xing]               2006         [1]       LPG

    No. of Owner        Locetion     Price
0         Sceond    Hasthampatti  6,75,000
1         Sceond    Hasthampatti  3,60,000
2         Sceond    Gandhi Puram  3,15,000
3         Sceond       Udai Pole  3,00,000
4         Sceond        Madhapur  3,90,000
..           ...             ...       ...
435       Sceond    Chanda Nagar  1,85,000
436       Sceond    Ramaiah Guda    50,000
437       Sceond  Rampur Village  1,25,000
438       Sceond       Nizamabad    80,000
439       Sceond     Singarcholi  1,20,000

[440 rows x 8 columns]

In [3]:
# df12:

chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_3%2Cpetrol_eq_lpg")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Third"
    owner.append(i)
    
print(len(fuel),len(owner))

df12=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
print(df12)

driver.close()

440 440 440 440 440 440
440 440
         Brand     Model with Variant Manufacturing Year  Driven KM Fuel Type  \
0       Maruti  [Suzuki, Wagon-R-1-0]               2012  [100,000]       CNG
1       Maruti         [Suzuki, Omni]               2008  [122,000]       CNG
2    Chevrolet                [Spark]               2010   [87,000]       CNG
3       Maruti         [Suzuki, Omni]               2014   [70,000]       CNG
4      Hyundai               [Accent]               2003   [83,000]       CNG
..         ...                    ...                ...        ...       ...
435    Hyundai               [Santro]               2001  [100,000]       CNG
436     Maruti        [Suzuki, Swift]               2006  [112,000]       CNG
437     Maruti   [Suzuki, Zen-Estilo]               2007   [72,000]       CNG
438    Hyundai         [Santro, Xing]               2009   [69,000]       CNG
439     Maruti         [Suzuki, Omni]               2009  [100,000]       CNG

    No. of Owner        Locetion     Price
0          Third       Kalavasal  2,90,000
1          Third     Asher Nagar  1,70,000
2          Third       Sultanpet  1,00,000
3          Third           Adpur  1,15,000
4          Third    Sudama Nagar    80,000
..           ...             ...       ...
435        Third   Chatradahalli    70,000
436        Third        Kashipur  1,20,000
437        Third        Sainagar  1,40,000
438        Third   Chinthadripet  1,85,000
439        Third  Ambedkar Nagar  1,10,000

[440 rows x 8 columns]

In [8]:
df04=pd.concat([df10,df11,df12])
print(df04)

df04.to_csv("df04")

       Brand     Model with Variant Manufacturing Year  Driven KM Fuel Type  \
0     Maruti     [Suzuki, Alto-800]               2012   [80,000]       LPG
1     Maruti         [Suzuki, Alto]               2006  [102,000]       LPG
2     Maruti  [Suzuki, Wagon-R-1-0]               2014   [62,580]       LPG
3     Maruti         [Suzuki, Omni]               2006   [90,000]       LPG
4      Bajaj                 [RE60]               2017   [10,000]       LPG
..       ...                    ...                ...        ...       ...
435  Hyundai               [Santro]               2001  [100,000]       CNG
436   Maruti        [Suzuki, Swift]               2006  [112,000]       CNG
437   Maruti   [Suzuki, Zen-Estilo]               2007   [72,000]       CNG
438  Hyundai         [Santro, Xing]               2009   [69,000]       CNG
439   Maruti         [Suzuki, Omni]               2009  [100,000]       CNG

    No. of Owner                 Locetion     Price
0          First                 Kappalur  2,20,000
1          First  Golden City Gunjal Wadi  1,05,000
2          First                  CB Ganj  2,80,000
3          First              M S R Nagar    70,000
4          First              Mannivakkam    30,000
..           ...                      ...       ...
435        Third            Chatradahalli    70,000
436        Third                 Kashipur  1,20,000
437        Third                 Sainagar  1,40,000
438        Third            Chinthadripet  1,85,000
439        Third           Ambedkar Nagar  1,10,000

[1320 rows x 8 columns]